#Div {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 235, 191);
}

#nav {
  display: flex;
  width: 100vw;
  height: 80px;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(253, 255, 136);
}

.p1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100px + 5vw);
  height: 50px;
  border-radius: 20%;
  background-color: rgb(255, 164, 164);
}

/* MainNav Contents */
#mainDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 65vw;
  height: auto;
  margin: 0%;
}

.items {
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 130px;
  align-items: center;
  margin: 5px;
  background-color: rgb(255, 211, 165);
  border-radius: 10px;
}

.imgs {
  display: flex;
  width: 115px;
  height: 100px;
  align-items: center;
}


/* SubDiv Contents */
#subDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 25vw;
  height: auto;
  background-color: rgb(255, 212, 212);
  border-radius: 20px;
  margin: 0%;
}

.items2 {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 70px;
  align-items: center;
  margin: 5px;
  background-color: rgb(255, 177, 177);
  border-radius: 10px;
}

.imgs2 {
  display: flex;
  width: 60px;
  height: 40px;
  align-items: center;
}

.p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 30px;
  border-radius: 20%;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  background-color: rgb(255, 164, 164);
}