.divClock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;	
  align-items: center;
}

#clockOut {
  background-color: rgb(255, 87, 87);
  width: 400px;
  height: 400px;
  border-radius: 100%;
}

#clockIn {
  background-color: rgb(197, 228, 255);
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

#digit {
  background-color: black;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  font-size: 40px;
  color: azure;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  border-radius: 20%;
}

#startButton {
  background-color: rgb(70, 252, 47);
}
#startButton:hover {
  background-color: rgb(50, 184, 32);
} 

#freButton {
  background-color: rgb(30, 244, 252);
}
#freButton:hover {
  background-color: rgb(10, 180, 186);
}

